spring:
  application:
    name: salesboard
  datasource:
    url: jdbc:postgresql://localhost:5432/salesboard
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      properties:
        hibernate:
          format_sql: true
  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 72000 #2h
    refreshTokenExpiration: 604800 #7day